$body-color: #191919;
$logo-color: #bf9a86;
$light-grey: #ddd;
$light-grey-2: #c4c4c4;
$white: #fff;
$black: #000;
$dark: #262626;
$dark-content: #2b2b2b;
$dark-gold: #5c4b3d;
$transparent-black: rgba(225, 225, 225, .4);
$transparent-white: rgba(225, 225, 225, .1);
$transparent-light-grey: rgba(221, 221, 221, .4);
$radial-gradient: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, .8) 0%, rgba(196, 196, 196, .547693) 34.38%, rgba(196, 196, 196, .260417) 63.02%, rgba(196, 196, 196, 0) 100%);
