{{#> layouts/base }}

    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>О нас</span></li>
            </ul>

            <div class="container row">
                {{> includes/breadcrumb}}
                <div class="right-column">
                    <div class="parallax-banner">
                        <h1 class="banner-header">О нас</h1>
                        <img class="zoom-image" src="../../media/about/about-banner.png" alt="">
                        <div class="radiant-circle rellax" data-rellax-speed="-3"></div>
                    </div>
                </div>
            </div>

            <div class="container row images-text__row-container">
                <div class="left-column"></div>
                <div class="right-column">

                    <h2 class="marker" data-aos="gdp-slide-in-h2">
                        <span>Galleria Di Pietra</span>
                    </h2>
                    <div class="row images-text">
                        <div class="text-area before-images" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                            <p>
                                Мы международная производственная компания выпускающая эксклюзивные изделия из
                                натурального камня, созданные нашими заводами и мастерскими в Италии. Мы придерживаемся
                                высоких стандартов качества, следуем традициям и используем новейшие технологии добычи и
                                обработки натурального камня.
                            </p>
                        </div>
                        <div class="first-image" data-aos="fade-up" data-aos-delay="400" data-aos-offset="100">
                            <img src="../../media/about/first-image.png" alt="" />
                        </div>
                        <div class="text-area beetween-images" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                            <ul>
                                <li>
                                    Мы производим изделия ил камня
                                </li>
                                <li>
                                    Обрабатываем камень для применения там-то и там-то
                                </li>
                                <li>
                                    Может быть немколько преимуществ
                                </li>
                                <li>
                                    Уникальная комманда инженеров и проектировщиков
                                </li>
                                <li>
                                    Что-то еще
                                </li>
                            </ul>
                        </div>
                        <div class="second-image" data-aos="fade-up" data-aos-delay="400" data-aos-offset="100">
                            <img src="../../media/about/second-image.png" alt="" />
                        </div>
                        <div class="text-area after-images">

                            <p data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                                Для наших проектов отбираем лучший камень в эксклюзивных карьерах, осуществляем
                                разработку, отдавая предпочтение блокам наивысшего качества для дальнейшей переработки.
                            </p>
                            <p data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                                Важнейшей частью работы является проектирование. В настоящее время это обязательное
                                условие при реализации проектов в современной архитектуре. Совмещение таких материалов,
                                как камень, стекло, металл и дерево является сложной задачей, при том, что мы можем
                                произвести более 20 видов обработки поверхности натурального камня. Все это отражается в
                                проектной и рабочей документации наших опытных конструкторов и инженеров.
                            </p>
                            <p data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                                Особо ценными для нас являются сложные и необычные проекты, подразумевающие поиск
                                нестандартных решений или разработку уникальных и сложных деталей. Совмещая красоту
                                природного камня со сложными способами обработки, создаем изделия, обладающие особым
                                шармом и привлекательностью.
                            </p>

                        </div>
                        <div class="images-column__tablet-grid">
                            <div class="images-column__first-image" data-aos="fade-up" data-aos-delay="400">
                                <img src="../../media/about/first-image.png" alt="" />
                            </div>
                            <div class="images-column__second-image" data-aos="fade-up" data-aos-delay="400">
                                <img src="../../media/about/second-image.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{> includes/finishing-options title="Технологии"}}

            <div class="architecture-container">
                <div class="center-container">
                    <h3 data-aos="gdp-without-marker-h3">
                        <span>Проектирование и архитектура</span>
                    </h3>
                </div>
                <div class="slick-prev"></div>
                <div class="zoom-slider">
                    <div class="zoom-slider__item">
                        <img src="../../media/about/interio.png" alt="">
                    </div>
                </div>
                <div class="slick-next"></div>
                <div class="container row">
                    <div class="center-container">
                        <div class="text-area">
                            <p>
                                Использование натурального мрамора станет верным решением, если планируется отделка
                                бассейна,
                                расположенного в
                                закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный
                                внешний
                                вид, но и
                                прекрасные характеристики, такие как долговечность и высокая прочность. Он может
                                использоваться
                                даже в
                                условиях высоких температур, не утрачивая своих превосходных качеств.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="services-container">
            <div class="center-container">
                <h3 data-aos="gdp-without-marker-h3">
                    <span>Услуги</span>
                </h3>
            </div>

            {{> includes/services.hbs }}

            <div class="center-container center-container--margin">
                <div class="text-area">
                    <p>
                        Использование натурального мрамора станет верным решением, если планируется отделка бассейна,
                        расположенного в
                        закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний
                        вид, но и
                        прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться
                        даже в
                        условиях высоких температур, не утрачивая своих превосходных качеств.
                    </p>
                </div>
            </div>
        </div>

        <div class="production-container">
            <div class="center-container center-container--margin">
                <h3 data-aos="gdp-without-marker-h3">
                    <span>Производство</span>
                </h3>
                <div class="production-options">
                    <div class="option" data-aos="fade-in" data-aos-offset="0" data-aos-delay="100">
                        <div class="option__image">
                            <img src="../../media/about/production-1.png" alt="">
                        </div>
                        <div class="text-area">
                            <h4 class="option__title">
                                Добыча
                            </h4>
                        </div>
                    </div>
                    <div class="option" data-aos="fade-in" data-aos-offset="0" data-aos-delay="150">
                        <div class="option__image">
                            <img src="../../media/about/production-2.png" alt="">
                        </div>
                        <div class="text-area">
                            <h4 class="option__title">
                                Перевозка
                            </h4>
                        </div>
                    </div>
                    <div class="option" data-aos="fade-in" data-aos-offset="0" data-aos-delay="200">
                        <div class="option__image">
                            <img src="../../media/about/production-3.png" alt="">
                        </div>
                        <div class="text-area">
                            <h4 class="option__title">
                                Обработка
                            </h4>
                        </div>
                    </div>
                    <div class="option" data-aos="fade-in" data-aos-offset="0" data-aos-delay="250">
                        <div class="option__image">
                            <img src="../../media/about/production-4.png" alt="">
                        </div>
                        <div class="text-area">
                            <h4 class="option__title">
                                Изготовление отделочных материалов
                            </h4>
                        </div>
                    </div>
                    <div class="option" data-aos="fade-in" data-aos-offset="0" data-aos-delay="300">
                        <div class="option__image">
                            <img src="../../media/about/production-5.png" alt="">
                        </div>
                        <div class="text-area">
                            <h4 class="option__title">
                                Изготовление изделий из камня
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="text-area">
                    <p>
                        Использование натурального мрамора станет верным решением, если планируется отделка
                        бассейна,
                        расположенного в
                        закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный
                        внешний
                        вид, но и
                        прекрасные характеристики, такие как долговечность и высокая прочность. Он может
                        использоваться
                        даже в
                        условиях высоких температур, не утрачивая своих превосходных качеств.
                    </p>
                </div>
            </div>
        </div>

        <div class="center-container center-container--header">
            <h3 data-aos="gdp-without-marker-h3">
                <span>Галерея</span>
            </h3>
        </div>

        <div class="masonry">
            <a href="../../media/gallery/1.jpg" data-fancybox="images"
                class="masonry__item animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/1.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/2.jpg" data-fancybox="images"
                class="masonry__item animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/2.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/3.jpg" data-fancybox="images"
                class="masonry__item animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/3.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/4.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/4.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/5.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/5.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/6.jpg" data-fancybox="images"
                class="masonry__item masonry__item--big animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/6.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/7.jpg" data-fancybox="images"
                class="masonry__item masonry__item--big animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/7.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/8.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/8.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/9.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/9.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/10.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/10.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/11.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/11.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/12.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/12.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
            <a href="../../media/gallery/13.jpg" data-fancybox="images"
                class="masonry__item masonry__item--small animate__animated animate__fadeIn animate__slower">
                <img src="../../media/gallery/13.jpg" alt="">
                <div class="gallery-info">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
            </a>
        </div>
    {{/inline}}

{{/layouts/base}}
