{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>Контакты</span></li>
            </ul>
            <div class="contacts-container">
                <h1 class="center-header">Контакты</h1>
                <div class="contacts-row">
                    <h3 class="mobile-header" data-aos="gdp-without-marker-h3">
                        <span>Офис в Москве</span>
                    </h3>
                    <h3 class="desktop-header" data-aos="gdp-without-marker-h3">
                        <span>Офис в Москве</span>
                    </h3>
                    <div class="wrapper" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                        <div class="contacts-img">
                            <img src="../../media/contacts/map.png" alt="" />
                        </div>
                        <div class="contacts-description">
                            <p>
                                117418 Moсква<br />
                                Нахимовский проспект, 47 стр. 1
                            </p>
                            <p>
                                Телефон: <a href="tel:+74959958985">+7 495 995 89 85</a><br />
                                Факс: <a href="fax:+74959958985">+7 495 995 89 85</a>
                            </p>
                            <p>
                                <a href="mailto:marmo@galleriadipietra.com">
                                    marmo@galleriadipietra.com
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contacts-row">
                    <h3 class="mobile-header" data-aos="gdp-without-marker-h3">
                        <span>Офис в Вероне</span>
                    </h3>
                    <h3 class="desktop-header" data-aos="gdp-without-marker-h3">
                        <span>Офис в Вероне</span>
                    </h3>
                    <div class="wrapper" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                        <div class="contacts-description">
                            <p>
                                117418 Moсква<br />
                                Нахимовский проспект, 47 стр. 1
                            </p>
                            <p>
                                Телефон: <a href="tel:+74959958985">+7 495 995 89 85</a><br />
                                Факс: <a href="fax:+74959958985">+7 495 995 89 85</a>
                            </p>
                            <p>
                                <a href="mailto:marmo@galleriadipietra.com">
                                    marmo@galleriadipietra.com
                                </a>
                            </p>
                        </div>
                        <div class="contacts-img">
                            <img src="../../media/contacts/map.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="contacts-row">
                    <h3 class="mobile-header" data-aos="gdp-without-marker-h3">
                        <span>Склад в Киампо</span>
                    </h3>
                    <h3 class="desktop-header" data-aos="gdp-without-marker-h3">
                        <span>Склад в Киампо</span>
                    </h3>
                    <div class="wrapper" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                        <div class="contacts-description">
                            <p>
                                117418 Moсква<br />
                                Нахимовский проспект, 47 стр. 1
                            </p>
                            <p>
                                Телефон: <a href="tel:+74959958985">+7 495 995 89 85</a><br />
                                Факс: <a href="fax:+74959958985">+7 495 995 89 85</a>
                            </p>
                            <p>
                                <a href="mailto:marmo@galleriadipietra.com">
                                    marmo@galleriadipietra.com
                                </a>
                            </p>
                        </div>
                        <div class="contacts-img">
                            <img src="../../media/contacts/map.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
    {{/layouts/base}}
