{{#> layouts/base }}

    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main">
             <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>Эксклюзивные карьеры</span></li>
            </ul>
            <div class="container row">
                <div class="left-column"></div>
                <div class="right-column">
                    <h1 class="center-header">
                        <span class="title">Ресторан</span>
                        <span class="title">в доломитах</span>
                    </h1>
                </div>
            </div>
            <div class="point-container">
                <div class="slick-prev"></div>
                <div class="zoom-slider">
                    <div class="zoom-slider__item">
                        <img src="../../media/projects/3d-interio.png" alt="">
                        <div class="point left hidden-xs">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="point right hidden-xs">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="point bottom hidden-xs">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="point top hidden-xs">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="zoom-slider__item">
                        <img src="../../media/projects/3d-interio.png" alt="">
                    </div>
                    <div class="zoom-slider__item">
                        <img src="../../media/projects/3d-interio.png" alt="">
                    </div>
                </div>
                <div class="slick-next"></div>
            </div>

            <div class="center-container center-container--margin">

                <ul class="points-list">
                    <li class="points-list__item" data-id="first-point">Стол из массива дуба</li>
                    <li class="points-list__item" data-id="second-point">Мраморный пол</li>
                    <li class="points-list__item" data-id="third-point">Светильныки Masiero</li>
                    <li class="points-list__item" data-id="fourth-point">Панорамное остекление</li>
                </ul>

                <div class="description" data-aos="fade-up" data-aos-offset="100">
                    Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.
                </div>
            </div>

            <div class="center-container center-container--margin">
                <div class="row header-btn">
                    <h3 class="marker" data-aos="gdp-slide-in-h3">
                        <span>Материалы</span>
                    </h3>
                    <a href="" class="btn-link hidden-xs">
                        <span>Все материалы из проекта</span>
                    </a>
                </div>
                <div class="material-grid">
                    <div class="material-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="50" >
                        <img src="../../media/A0021577.png" alt="" />
                        <div class="material-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="material-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="100" >
                        <img src="../../media/breccia_capraia.png" alt="" />
                        <div class="material-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="material-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="150" >
                        <img src="../../media/breccia-pernice.png" alt="" />
                        <div class="material-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="material-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="200">
                        <img src="../../media/DORATO-VALMALENCO-BOCCIARDATO-BUSH-HAMMERED.png" alt=""/>
                        <div class="material-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="material-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="250">
                        <img src="../../media/LUCERNA.png" alt="" />
                        <div class="material-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="material-item material-item--mobile" data-aos="fade-zoom-in" data-aos-delay="300" data-aos-offset="100">
                        <img src="../../media/LUCERNA.png" alt="" />
                        <div class="material-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="material-item--text" data-aos="fade-zoom-in" data-aos-delay="300" data-aos-offset="100">
                        <p>
                            Одним из основных строительных материалов, является натуральный
                            камень. Его можно найти в горах и равнинах Италии и Швейцарии,
                            африканских плоскогорьях и других местах. Каждое месторождение
                            богато своей историей разработки горных пород. Каждый камень имеет
                            право называться лучшим и может являться вашим уникальным выбором.
                        </p>
                        <a href="#" class="btn-link">
                            <span>Каталог камня</span>
                        </a>
                    </div>
                </div>
                <a href="" class="btn-link visible-xs">
                    <span>Все материалы из проекта</span>
                </a>
            </div>

            <div class="center-container center-container--margin">
                <div class="row header-btn">
                    <h3 class="marker" data-aos="gdp-slide-in-h3">
                        <span>Изделия</span>
                    </h3>
                    <a href="" class="btn-link hidden-xs">
                        <span>Все изделия из проекта</span>
                    </a>
                </div>
                <div class="products-grid">
                    <a href="#" class="products-grid-item" data-aos="fade-zoom-in" data-aos-delay="50" data-aos-offset="100">
                        <img src="../../media/projects/5.png" alt="">
                    </a>
                    <a href="#" class="products-grid-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/projects/6.png" alt="">
                    </a>
                    <a href="#" class="products-grid-item" data-aos="fade-zoom-in" data-aos-delay="150" data-aos-offset="100">
                        <img src="../../media/projects/7.png" alt="">
                    </a>
                    <a href="#" class="products-grid-item visible-xs" data-aos="fade-zoom-in" data-aos-delay="200" data-aos-offset="100">
                        <img src="../../media/projects/5.png" alt="">
                    </a>
                    <a href="#" class="products-grid-item visible-xs" data-aos="fade-zoom-in" data-aos-delay="250" data-aos-offset="100">
                        <img src="../../media/projects/6.png" alt="">
                    </a>
                    <a href="#" class="products-grid-item visible-xs" data-aos="fade-zoom-in" data-aos-delay="300" data-aos-offset="100">
                        <img src="../../media/projects/7.png" alt="">
                    </a>
                </div>
                <a href="" class="btn-link visible-xs">
                    <span>Все изделия из проекта</span>
                </a>
            </div>

            {{> includes/bottom-navigation}}
        </div>
    {{/inline}}

    {{#*inline "modals-block"}}
        <div class="point-modal animate__animated animate__fast" data-id="first-point">
            <div class="point-modal__header row">
                <span>Название</span>
                <div class="close"></div>
            </div>

            <div class="point-modal__body">
                <div class="point-modal__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                <img src="../../media/content.png" alt="" />
            </div>

            <a href="#" class="btn-link">Подробнее о изделии</a>
        </div>
    {{/inline}}

{{/layouts/base}}
