{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}

        <div class="main">
        <ul class="mobile-breadcrumbs">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Решения</a></li>
            <li><span>Натуральный камень</span></li>
        </ul>

        <div class="container row">
            {{> includes/breadcrumb}}
            <div class="right-column">
              <div class="head-block">
                  <h1>Dorato Bocciardato</h1>
                  <div class="stone-color">#0410827</div>
              </div>
              <div class="row">
                <div class="material-banner" data-aos="fade-up" data-aos-offset="0" data-aos-delay="300">
                  <a href="../../media/stone.png" data-fancybox="images"><img src="../../media/stone.png" alt=""></a>
                  <div class="radiant-material rellax" data-rellax-speed="-10"></div>
                </div>
                <div class="characteristic" data-aos="fade-up" data-aos-offset="0" data-aos-delay="500">
                  <div class="characteristic__block">
                    <div class="characteristic__title">Применение</div>
                      <div class="characteristic__row">
                          <ul class="characteristic__list">
                            <li>Интерьер</li>
                            <li>Фасад</li>
                            <li>Стены</li>
                            <li>Полы (повышенная прочность)</li>
                          </ul>
                          <ul class="characteristic__list">
                            <li>Полы</li>
                            <li>Скульптура</li>
                            <li>Особенно прочный</li>
                          </ul>
                      </div>
                  </div>
                  <div class="characteristic__block">
                    <div class="characteristic__title">Обработка поверхности</div>
                      <div class="characteristic__row">
                          <ul class="characteristic__list">
                            <li>Полированная</li>
                            <li>Бучардированая</li>
                            <li>Термообработка</li>
                            <li>Шлифованная</li>
                          </ul>
                          <ul class="characteristic__list">
                            <li>Пескоструйная</li>
                            <li>Скол</li>
                            <li>Бороздование</li>
                            <li>Брашировние</li>
                          </ul>
                      </div>
                  </div>
                </div>
              </div>
              <div class="stone-description" data-aos="fade-up" data-aos-offset="0" data-aos-delay="300">Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит. Однако допускается применение и других видов натурального камня, которые станут не менее оригинальным решением для облицовки.</div>
            </div>
        </div>

        <div class="center-container center-container--margin">
          <h2 class="marker" data-aos="gdp-slide-in-h2">
            <span class="title">Похожие материалы</span>
          </h2>
          <div class="single-material">
            <a href="#" class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="50">
              <img src="../../media/material/1.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="100">
              <img src="../../media/material/2.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="150">
              <img src="../../media/material/3.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="200">
              <img src="../../media/material/4.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="250">
              <img src="../../media/material/5.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="300">
              <img src="../../media/material/6.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="350">
              <img src="../../media/material/7.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="400">
              <img src="../../media/material/8.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="450">
              <img src="../../media/material/9.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="500">
              <img src="../../media/material/10.png" alt="">
            </a>
            <a href="#"  class="single-material__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="550">
              <img src="../../media/material/11.png" alt="">
            </a>
          </div>
        </div>

      <div class="center-container center-container--margin">
        <h2 class="marker" data-aos="gdp-slide-in-h2">
          <span class="title">Dorato Bocciardato в проектах</span>
        </h2>
        {{> includes/projects}}
      </div>

      <div class="center-container center-container--margin">
        <h2 class="marker" data-aos="gdp-slide-in-h2">
          <span class="title">Изделия</span>
        </h2>
        <div class="products-grid">
          <a href="#" class="products-grid-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="50">
            <img src="../../media/projects/5.png" alt="">
          </a>
          <a href="#" class="products-grid-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="100">
            <img src="../../media/projects/6.png" alt="">
          </a>
          <a href="#" class="products-grid-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="150">
            <img src="../../media/projects/7.png" alt="">
          </a>
          <a href="#" class="products-grid-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="200">
            <img src="../../media/projects/8.png" alt="">
          </a>
          <a href="#" class="products-grid-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="250">
            <img src="../../media/projects/9.png" alt="">
          </a>
          <a href="#" class="products-grid-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="300">
            <img src="../../media/projects/10.png" alt="">
          </a>
        </div>
        <a href="#" class="btn-link btn-link--small">
            <span>Показать еще</span>
        </a>
      </div>

    </div>

    {{/inline}}
{{/layouts/base}}
