{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}

        <div class="main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Решения</a></li>
                <li><span>Натуральный камень</span></li>
            </ul>

            <div class="center-container center-container--header">
                <h1 class="center-header">
                    <span class="title">Галерея</span>
                </h1>
            </div>

            <div class="center-container hidden-xs">
                <div class="sort-block row">
                    <div class="selected">Всего 200 фотографий</div>
                    <div class="sort-block__right-part row">
                        <div class="quantity">1-36 из 1500</div>
                        <div class="arrows row">
                            <div class="prev disabled">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                            <div class="next">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="masonry">
                <a href="../../media/gallery/1.jpg" data-fancybox="images" class="masonry__item">
                    <img src="../../media/gallery/1.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/2.jpg" data-fancybox="images" class="masonry__item">
                    <img src="../../media/gallery/2.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/3.jpg" data-fancybox="images" class="masonry__item">
                    <img src="../../media/gallery/3.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/4.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/4.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/5.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/5.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/6.jpg" data-fancybox="images" class="masonry__item masonry__item--big">
                    <img src="../../media/gallery/6.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/7.jpg" data-fancybox="images" class="masonry__item masonry__item--big">
                    <img src="../../media/gallery/7.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/8.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/8.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/9.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/9.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/10.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/10.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/11.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/11.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/12.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/12.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/13.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/13.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/10.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/10.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/11.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/11.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/12.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/12.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
                <a href="../../media/gallery/13.jpg" data-fancybox="images" class="masonry__item masonry__item--small">
                    <img src="../../media/gallery/13.jpg" alt="">
                    <div class="gallery-info">
                        <div class="name">Название фотографии</div>
                        <div class="date">19 - 07 - 2019</div>
                    </div>
                </a>
            </div>

            <div class="center-container center-container--margin">
                <div class="sort-block row">
                    <div class="selected">Всего 200 фотографий</div>
                    <button class="show-btn hidden-xs">
                        <i class="far fa-plus-circle"></i>Загрузить еще 36
                    </button>
                    <div class="quantity visible-xs">1-36 из 1500</div>
                    <div class="sort-block__right-part row">
                        <div class="quantity hidden-xs">1-36 из 1500</div>
                        <div class="show visible-xs">
                            <span>Показывать по</span>
                            <select class="custom-select" name="quantity">
                              <option value="36">36</option>
                              <option value="48">48</option>
                              <option value="60">60</option>
                            </select>
                        </div>
                        <div class="arrows row">
                            <div class="prev disabled">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                            <div class="next">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    {{/inline}}
{{/layouts/base}}
