{{#> layouts/base }}

    {{#*inline "content-block"}}
        {{> includes/header}}
        <section class="mountains">
            <div class="cloud-holder rellax" data-rellax-speed="-4">
                <img src="../../media/index/clouds-01.png" class="cloud-first" alt="">
                <!--Облако 1-->
            </div>
            <img src="../../media/index/midle.png" class="mount-second rellax" alt="" data-rellax-speed="-4">
            <!--Гора 2-->
            <div class="cloud-holder cloud-holder__second rellax" data-rellax-speed="-3">
                <!--Облако 2-->
                <img src="../../media/index/clouds-02.png" class="cloud-second" alt="">
            </div>
            <img src="../../media/index/front.png" class="mount-third rellax" alt="" data-rellax-speed="-2">
            <!--Гора 2-->
            <img src="../../media/index/clouds-04.png" class="cloud__third" alt="">
            <!--Облако 3-->
        </section>
        <section class="house" data-black-cursor>
            <div class="text-bg">
                <div class="header-wrapper">
                    <h1 data-aos="gdp-slide-in-h1">Заголовок</h1>
                </div>
                <p data-aos="slide-up">Всем этим качествам соответствует только один вид материалов – натуральный
                    камень.
                    Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже
                    мозаикой
                    или мозаичным панно из природного камня. Подобрав более подходящий каменьпо</p>
            </div>
            <div class="house-wrapper">
                <picture>
                    <source media="(max-width: 769px)" srcset="../../media/index/house-xs.jpg">
                    <source media="(min-width: 769px) and (max-width: 1920px)"
                            srcset="../../media/index/house-1920.jpg">
                    <source media="(min-width: 1921px)" srcset="../../media/index/house.jpg">
                    <img src="../../media/index/house-1920.jpg" alt="">
                </picture>
                <div class="points-wrapper"></div>
                <div class="house-video">
                    <video playsinline class="intro" data-src="../../media/index/house-detail/intro.mp4" preload="none" muted>
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-02.mp4" class="open-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-02.rev.mp4" class="close-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-05.mp4" class="open-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-05.rev.mp4" class="close-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-06.mp4" class="open-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-06.rev.mp4" class="close-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-04.mp4" class="open-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-04.rev.mp4" class="close-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-03.mp4" class="open-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                    <video playsinline data-src="../../media/index/house-detail/view-03.rev.mp4" class="close-video" preload="none" muted
                           poster="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </video>
                </div>
                <div class="house-view">
                    <picture>
                        <source media="(max-width: 769px)" srcset="../../media/index/house-detail/view-02-xs.jpg">
                        <source media="(min-width: 769px) and (max-width: 1920px)"
                                srcset="../../media/index/house-detail/view-02-1920.jpg">
                        <source media="(min-width: 1921px)" srcset="../../media/index/house-detail/view-02.jpg">
                        <img src="../../media/index/house-detail/view-02.jpg" alt="">
                    </picture>
                    <picture>
                        <source media="(max-width: 769px)" srcset="../../media/index/house-detail/view-05-xs.jpg">
                        <source media="(min-width: 769px) and (max-width: 1920px)"
                                srcset="../../media/index/house-detail/view-05-1920.jpg">
                        <source media="(min-width: 1921px)" srcset="../../media/index/house-detail/view-05.jpg">
                        <img src="../../media/index/house-detail/view-05.jpg" alt="">
                    </picture>
                    <picture>
                        <source media="(max-width: 769px)" srcset="../../media/index/house-detail/view-06-xs.jpg">
                        <source media="(min-width: 769px) and (max-width: 1920px)"
                                srcset="../../media/index/house-detail/view-06-1920.jpg">
                        <source media="(min-width: 1921px)" srcset="../../media/index/house-detail/view-06.jpg">
                        <img src="../../media/index/house-detail/view-06.jpg" alt="">
                    </picture>
                    <picture>
                        <source media="(max-width: 769px)" srcset="../../media/index/house-detail/view-04-xs.jpg">
                        <source media="(min-width: 769px) and (max-width: 1920px)"
                                srcset="../../media/index/house-detail/view-04-1920.jpg">
                        <source media="(min-width: 1921px)" srcset="../../media/index/house-detail/view-04.jpg">
                        <img src="../../media/index/house-detail/view-04.jpg" alt="">
                    </picture>
                    <picture>
                        <source media="(max-width: 769px)" srcset="../../media/index/house-detail/view-03-xs.jpg">
                        <source media="(min-width: 769px) and (max-width: 1920px)"
                                srcset="../../media/index/house-detail/view-03-1920.jpg">
                        <source media="(min-width: 1921px)" srcset="../../media/index/house-detail/view-03.jpg">
                        <img src="../../media/index/house-detail/view-03.jpg" alt="">
                    </picture>

                </div>
                <div class="house-detail">
                    <div class="house-detail__header">
                        <div class="house-detail__header-title"></div>
                        <div class="close"></div>
                    </div>
                    <div data-simplebar class="house-detail__content">
                        <video playsinline muted preload="none" data-src="../../media/index/house-detail/view-02.detail.mp4">
                        </video>
                        <video playsinline muted preload="none" data-src="../../media/index/house-detail/view-05.detail.mp4">
                        </video>
                        <video playsinline muted preload="none" data-src="../../media/index/house-detail/view-06.detail.mp4">
                        </video>
                        <video playsinline muted preload="none" data-src="../../media/index/house-detail/view-04.detail.mp4">
                        </video>
                        <video playsinline muted preload="none" data-src="../../media/index/house-detail/view-03.detail.mp4">
                        </video>
                        <p>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur deleniti eius excepturi exercitationem hic itaque laboriosam laborum magnam, maiores molestias omnis provident quae quia quisquam sit vel veniam vitae.</span><span>Blanditiis corporis cumque eius eos laborum necessitatibus nesciunt quasi repellat reprehenderit, tempore voluptas voluptate voluptatem? Commodi cum eaque eius in laborum maxime minus sapiente sequi similique veniam. Dignissimos, dolore, praesentium.</span><span>Dicta ducimus exercitationem laboriosam laborum, libero neque nisi repellendus sit temporibus vitae? A consectetur dolorem doloremque est et, eveniet, explicabo fuga hic laboriosam mollitia pariatur perferendis quis quos repellendus totam.</span><span>Adipisci culpa dolor eos est ex fugit incidunt molestias mollitia natus provident, quos rerum sint tempore? Asperiores at provident saepe similique vel vero! Consequatur illum ipsa, iusto labore rerum vitae.</span><span>Amet aperiam architecto consequatur debitis dolore dolores eaque error esse expedita fugiat illum laborum libero molestias nam necessitatibus optio perferendis placeat porro quo ratione recusandae sapiente sed sint, veniam vero.</span><span>Accusamus ad, corporis cum dolorem eaque explicabo fugit, impedit magnam neque numquam quia rem sint, sunt tempora vel. Distinctio earum est modi nobis odit optio pariatur praesentium quis tempora vel.</span><span>Animi autem beatae consequuntur corporis doloribus earum, et neque obcaecati possimus sint. Atque cupiditate doloremque dolores exercitationem id, iste officia pariatur quisquam rerum ullam? Nemo quis quos recusandae tenetur veniam!</span><span>Cum dolores error hic illum iusto, minus nam necessitatibus nesciunt officiis, possimus quae ut veniam veritatis vitae voluptates! Delectus dolores facere incidunt iusto non placeat praesentium ratione rem repudiandae voluptates!</span><span>Error exercitationem id labore laborum natus quasi sunt unde voluptatibus. Deserunt eum minima nam nisi odio. Expedita fugiat perferendis reprehenderit? Beatae facilis harum, labore maiores neque quibusdam reiciendis reprehenderit sint.</span><span>Corporis et illum placeat quasi repellat temporibus voluptas. Aperiam blanditiis deserunt, dolore dolorem doloremque eos laboriosam minima modi qui quia quidem voluptas! Amet culpa ea sint ullam. Et, mollitia, nam.</span><span>Accusamus adipisci alias animi beatae dolor dolore doloribus et fuga, ipsam iure labore maiores nemo nisi perferendis praesentium repellat saepe sunt? Architecto cumque nam numquam odio praesentium, rerum velit voluptatum.</span><span>Accusantium beatae dicta id laudantium magnam maiores neque perspiciatis ratione, reprehenderit sunt unde velit veritatis? A delectus doloremque numquam rerum, suscipit voluptatum. A aut dolores in nihil reiciendis! Nostrum, praesentium.</span><span>Atque cum cupiditate delectus esse, fugit iste minima molestias placeat porro qui soluta temporibus. Aliquam beatae blanditiis earum esse ipsa ipsam mollitia, omnis repudiandae sint, tempore veritatis voluptas! Corporis, placeat!</span><span>A ad asperiores atque exercitationem ipsum itaque iusto labore, quo rerum vel. Deleniti doloribus magnam nemo non recusandae, repellendus voluptates. Animi architecto blanditiis placeat. Deleniti distinctio excepturi nam quaerat voluptatem.</span><span>Adipisci aliquam, asperiores commodi cupiditate dignissimos est eum labore natus odio porro quos reprehenderit, saepe, tempora temporibus totam. Aliquam, inventore non! Ab aliquam facilis hic itaque maiores reiciendis sit temporibus.</span><span>Aperiam dicta eligendi illum nihil placeat quas sed sunt? Accusantium aliquid asperiores assumenda consectetur enim facere facilis id magni minima optio qui, quibusdam quo rem tempora veniam! Inventore, numquam quasi?</span><span>Explicabo fuga nulla ratione reprehenderit velit voluptatibus? Accusantium, adipisci blanditiis ex facilis labore modi nostrum qui repellendus totam velit, veniam voluptate voluptatibus? Aliquam architecto cupiditate dolore numquam repudiandae veniam voluptatibus.</span><span>At debitis sint tenetur. Dolorem, explicabo sapiente! Adipisci autem beatae dolore dolores ducimus eius eos est eveniet facere, impedit ipsum iusto optio perferendis quia, repudiandae totam vel veniam! Numquam, repudiandae!</span><span>Dicta esse harum minima nostrum veniam vero vitae voluptatibus! Adipisci dolores, est in iste minus molestias nobis placeat quia repellendus reprehenderit temporibus ullam voluptatem voluptatum. Asperiores itaque mollitia temporibus voluptatum?</span><span>Eveniet maxime natus possimus saepe. Amet aperiam asperiores autem consectetur delectus distinctio eligendi ipsam itaque magni maiores modi necessitatibus nostrum, perspiciatis praesentium quisquam recusandae reiciendis reprehenderit rerum sed velit veniam.</span><span>Asperiores delectus dolores exercitationem inventore ipsam laborum nam rerum sapiente sunt voluptatum! Ab aperiam id iure maiores modi neque porro, possimus quam quia quis quisquam quo recusandae reiciendis sed veritatis.</span><span>Aperiam consequatur cumque dignissimos distinctio dolorem ducimus eaque earum fugiat harum nisi nobis quasi, recusandae, sint tenetur totam. Corporis dolor ea non provident quas quia quidem repellendus sapiente sint tenetur.</span><span>Debitis neque similique unde voluptatum. Consectetur, cupiditate dolorum eos facilis fugiat illo maxime modi necessitatibus officiis optio placeat porro quam quis quod, quos rem reprehenderit, sed sequi sunt velit voluptate.</span><span>Aperiam esse placeat tempore! Asperiores dolore doloribus ea hic mollitia quia quo voluptatem? Consectetur eaque eveniet itaque maiores, praesentium tempora voluptas? Asperiores cum delectus dolorem magni pariatur quos ratione veniam!</span><span>Ad adipisci aut beatae delectus dolor doloremque ducimus excepturi facere hic id ipsum laboriosam laudantium natus nemo neque nesciunt porro quia recusandae sit tempore ut, velit, voluptas voluptatem voluptatibus voluptatum!</span><span>Expedita labore, sed. Ab ad aliquid asperiores aut dolore dolores est hic impedit libero, numquam perspiciatis reprehenderit, sed temporibus unde vero voluptas voluptatem voluptatum? Ad debitis dolores ea officia rerum!</span><span>A, aperiam autem consequatur culpa delectus dolore error in iure laudantium minus modi molestiae, neque numquam odio pariatur quia quidem rerum sequi unde velit? Explicabo facere iusto nesciunt nihil odio!</span><span>Asperiores blanditiis cum ipsam magni, nulla provident similique tempora vel vitae voluptate. Beatae commodi, excepturi explicabo id ipsam ipsum, laboriosam magni minima molestiae nostrum officiis, quos reiciendis totam ut voluptas.</span><span>Eligendi eveniet expedita explicabo fugiat hic id illo laborum laudantium nisi odio omnis possimus, praesentium repudiandae tenetur voluptates. Alias amet deleniti hic id in ipsa maxime minima officiis omnis provident!</span><span>Deserunt dolore dolores doloribus eligendi error et, expedita facilis inventore iste laborum, magnam maxime officia quam quas repellendus sapiente sequi unde vitae, voluptates voluptatum. Blanditiis fuga fugiat fugit tempore ut.</span><span>Animi aut consectetur ducimus enim est eum exercitationem itaque magni nemo nobis quaerat qui quo, quod ratione repellat tempore ut. Accusamus dolorem, enim modi nihil nulla voluptatem! Aperiam, cupiditate, nesciunt?</span><span>Alias architecto dignissimos illum minima non omnis quo ut. Accusamus cum ducimus illo nisi quae sed tempore totam vero? Dignissimos eum laborum quas quos tempore! Accusamus ad nobis optio quisquam!</span><span>Ab alias aliquam amet architecto aspernatur atque cupiditate debitis dolores earum eius, eligendi ex explicabo iure iusto libero minima modi nam necessitatibus perspiciatis quasi reprehenderit sed sequi sit ut voluptates.</span><span>Atque culpa libero, minima optio provident ullam. Aliquid amet assumenda cum dolor facilis, ipsa mollitia natus neque odio perspiciatis placeat quis, quo saepe sint sunt, totam vitae! Aliquam, fugiat, repellendus!</span><span>Accusamus aliquid animi beatae cumque cupiditate dolorem error, eum maiores modi necessitatibus obcaecati odit quas quibusdam quisquam quod velit voluptates. Alias earum error facere ipsa nobis quidem veniam? Aspernatur, atque!</span><span>Ab alias architecto ea error molestiae natus sequi? Animi blanditiis cum dolore dolorem dolores exercitationem expedita facere impedit iusto laborum maiores modi nemo, officiis pariatur perspiciatis possimus recusandae sequi voluptates.</span><span>Atque consectetur eaque earum explicabo laboriosam, laudantium neque possimus unde. Hic iste nulla perferendis perspiciatis quibusdam recusandae sequi. Ad error exercitationem laboriosam magni molestiae, officia provident ratione? Praesentium, quis, sequi!</span><span>Aut eveniet expedita ipsam quasi similique! Ab atque consequuntur debitis et illum, laudantium magnam nemo tempore! A dolorum eos exercitationem explicabo impedit iste laborum odit quos, veritatis voluptatem. Asperiores, mollitia?</span><span>Consequuntur eligendi fugiat nostrum provident totam. Aspernatur debitis deserunt ducimus hic laboriosam laudantium modi odio tempora, vel veniam? Accusantium cum dolorum error est ex in, ipsa libero provident rerum temporibus!</span><span>Consectetur eos fuga nihil odio quae, quasi quis tempora! Aspernatur corporis esse est expedita iusto necessitatibus nobis optio sapiente! Dolorum enim fugit illo molestias nam optio quae quam ut vel!</span><span>A accusantium assumenda atque consequatur doloremque ducimus, ea eum eveniet excepturi laboriosam molestias mollitia natus odit pariatur perspiciatis quasi quibusdam quisquam ratione reiciendis repellat repellendus sint sit veniam voluptas voluptatem!</span><span>Aperiam eligendi error inventore ipsum, libero mollitia perferendis similique totam ullam voluptatibus! Accusantium architecto fugit illum, iure officia placeat reiciendis rerum sed, ullam unde vitae voluptates. Fugiat quia quo ullam.</span><span>Consequuntur corporis error eveniet ex fuga inventore itaque laudantium minus placeat quaerat, quasi quod, ut voluptas. Alias asperiores aspernatur atque ea, molestias nihil, nisi, nobis nulla rerum saepe vitae voluptates?</span><span>Alias delectus dicta laudantium quis? Aliquid atque debitis dicta eius facilis maiores minus molestiae possimus reiciendis tenetur. Aut doloremque esse explicabo iste iure, laborum laudantium minus necessitatibus quasi, sint voluptatibus.</span><span>Asperiores aspernatur culpa cumque dolorem doloribus error est et facere id incidunt ipsum laudantium officiis, optio perspiciatis quidem reiciendis repellendus repudiandae sed sint sunt tenetur vel velit veniam veritatis vitae.</span><span>Ad aperiam dolorum ex iste laborum laudantium nisi, non nostrum nulla officia quasi reiciendis repellat temporibus totam voluptatem! Atque, doloribus eos ex expedita facere maxime nulla officiis rem temporibus voluptas?</span><span>A adipisci aliquid cumque excepturi quam sint sit! Aliquid dolores earum enim itaque. Aliquid architecto, atque commodi deserunt ducimus esse expedita fuga id impedit inventore, minus officiis, quia suscipit ut!</span><span>Amet assumenda consequatur dolor doloremque ducimus error est molestiae non nulla odio perferendis, perspiciatis placeat quos repellat soluta suscipit, vero voluptas voluptatibus? Dolorem facere labore odio perspiciatis, provident quo repudiandae!</span><span>Ad adipisci alias doloremque doloribus dolorum esse eum iste, molestias nam officia quae qui temporibus ut vero voluptatem. Ab accusamus autem deleniti dolores ducimus eaque fugiat laboriosam placeat, rerum voluptate.</span><span>Aliquam aspernatur consectetur cumque delectus dolorem ducimus enim et ex explicabo fuga fugiat in, inventore ipsa laboriosam nemo nisi officia, provident quas quasi repudiandae sint sunt totam unde voluptate, voluptates.</span>
                        </p>
                    </div>
                    <a href="#" class="button">Перейти в раздел</a>
                </div>
            </div>
        </section>
        <section class="projects center-container grid">
            <h2 class="marker">
                <span class="title">Проекты</span>
            </h2>
            <a href="#" class="button">Каталог проектов</a>
            <div class="projects-grid">
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="0">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/1.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="800">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/2.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="1600">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/3.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="2400">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/4.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
            </div>
            <div class="projects-slider">
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/1.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/2.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/3.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/4.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
            </div>
        </section>

        <section class="projects center-container grid">
            <h2 class="marker">
                <span class="title">Проекты</span>
            </h2>
            <a href="#" class="button">Каталог проектов</a>
            <div class="projects-grid">
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="0">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/1.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="800">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/2.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="1600">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/3.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-item__wrapper" data-aos-offset="0" data-aos="fade-up" data-aos-delay="2400">
                    <a href="#" class="projects-item">
                        <img src="../../media/projects/4.png" alt="">
                        <div class="projects-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
            </div>
            <div class="projects-slider">
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/1.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/2.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/3.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
                <div class="projects-slider-item-wrapper">
                    <a href="#" class="projects-slider-item">
                        <img src="../../media/projects/4.png" alt="">
                        <div class="projects-slider-item__name">Фирменный магазин "Bogner"</div>
                    </a>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="center-container header-block">
                <h3 class="marker">
                    <span class="title">Эксклюзивные карьеры</span>
                </h3>
                <a href="#" class="button">Все карьеры</a>
            </div>
            <div class="project-slide">
                <div class="project-slide__item">
                    <a href="#">
                        <img src="../../media/index/mining.jpg" alt="" />
                        <div class="project-slide__name">
                            <div class="center-container row">
                                <span>Dorato Valmalenco</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="project-slide__item">
                    <a href="#">
                        <img src="../../media/index/mining.jpg" alt="" />
                        <div class="project-slide__name">
                            <div class="center-container row">
                                <span>Dorato Valmalenco</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="project-slide__item">
                    <a href="#">
                        <img src="../../media/index/mining.jpg" alt="" />
                        <div class="project-slide__name">
                            <div class="center-container row">
                                <span>Dorato Valmalenco</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="project-slide__item">
                    <a href="#">
                        <img src="../../media/index/mining.jpg" alt="" />
                        <div class="project-slide__name">
                            <div class="center-container row">
                                <span>Dorato Valmalenco</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <ul class="points-list visible-xs">
                <li class="points-list__item" data-id="first-point">Стол из массива дуба</li>
                <li class="points-list__item" data-id="second-point">Мраморный пол</li>
                <li class="points-list__item" data-id="third-point">Светильныки Masiero</li>
                <li class="points-list__item" data-id="fourth-point">Панорамное остекление</li>
            </ul>
            <a href="#" class="btn-link visible-xs">
                <span>Все проекты</span>
            </a>
        </div>

        <div class="center-container center-container--margin">
            <div class="header-block">
                <h2 class="marker">
                    <span class="title">Материалы</span>
                </h2>
                <a href="#" class="button">Каталог материалов</a>
            </div>
            <div class="materials">
                <div class="materials-grid">
                    <div class="materials-grid__item">
                        <img src="../../media/material/1.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/2.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/3.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/4.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/5.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/6.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/7.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/8.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                    <div class="materials-grid__item">
                        <img src="../../media/material/9.png" alt="">
                        <div class="materials-item__name row">
                            <div class="name">Breccia Capraia</div>
                            <div class="article">#500001</div>
                        </div>
                    </div>
                </div>
                <a href="#" class="button">Каталог материалов</a>
            </div>
        </div>
        <div class="center-container center-container--margin">
            <div class="header-block">
                <h2 class="marker">
                    <span class="title">Новости и события</span>
                </h2>
                <a href="#" class="button">Все новости и события</a>
            </div>
            <div class="news-row">
                <div class="news">
                    <a href="#">
                        <div class="news-img">
                            <img src="../../media/news/1.png" alt="">
                        </div>
                    </a>
                    <div class="news-description">
                        <p class="news-timestamp">17 - 07 - 2019</p>
                        <h3 class="news-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                </div>
                <div class="news">
                    <a href="#">
                        <div class="news-img">
                            <img src="../../media/news/2.png" alt="">
                        </div>
                    </a>
                    <div class="news-description">
                        <p class="news-timestamp">12 - 07 - 2019</p>
                        <h3 class="news-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                </div>
                <div class="news">
                    <a href="#">
                        <div class="news-img">
                            <img src="../../media/news/3.png" alt="">
                        </div>
                    </a>
                    <div class="news-description">
                        <p class="news-timestamp">06 - 07 - 2019</p>
                        <h3 class="news-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                </div>
            </div>
            <div class="news-slider__wrapper">
                <div class="news-slider" data-aos="fade-up" data-aos-delay="400" data-aos-offset="100">
                    <div class="news">
                        <a href="#">
                            <div class="news-img">
                                <img src="../../media/news/1.png" alt="">
                            </div>
                        </a>
                        <div class="news-description">
                            <p class="news-timestamp">06 - 07 - 2019</p>
                            <h3 class="news-header">Название новости</h3>
                            <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств
                                и
                                долговечности. Наиболее широко в облицовке современных бассейнов используются такие
                                породы
                                натурального камня, как мрамор и гранит.</p>
                        </div>
                    </div>
                    <div class="news">
                        <a href="#">
                            <div class="news-img">
                                <img src="../../media/news/2.png" alt="">
                            </div>
                        </a>
                        <div class="news-description">
                            <p class="news-timestamp">06 - 07 - 2019</p>
                            <h3 class="news-header">Название новости</h3>
                            <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств
                                и
                                долговечности. Наиболее широко в облицовке современных бассейнов используются такие
                                породы
                                натурального камня, как мрамор и гранит.</p>
                        </div>
                    </div>
                    <div class="news">
                        <a href="#">
                            <div class="news-img">
                                <img src="../../media/news/3.png" alt="">
                            </div>
                        </a>
                        <div class="news-description">
                            <p class="news-timestamp">06 - 07 - 2019</p>
                            <h3 class="news-header">Название новости</h3>
                            <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств
                                и
                                долговечности. Наиболее широко в облицовке современных бассейнов используются такие
                                породы
                                натурального камня, как мрамор и гранит.</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="button">Все новости и события</a>
            </div>
        </div>
    {{/inline}}

{{/layouts/base}}
