{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>Эксклюзивные карьеры</span></li>
            </ul>
            <div class="mining-container">
                <h1 class="center-header">Эксклюзивные карьеры</h1>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/1.png" alt="">
                    </div>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Marmi Valmalenco</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/2.png" alt="">
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/3.png" alt="">
                    </div>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/4.png" alt="">
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/5.png" alt="">
                    </div>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/6.png" alt="">
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/7.png" alt="">
                    </div>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/8.png" alt="">
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/9.png" alt="">
                    </div>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/10.png" alt="">
                    </div>
                </div>

                <div class="mining-row" data-aos="before-animate">
                    <h2 class="mobile-header marker" data-aos="gdp-slide-in-h2">
                        <span>Название карьера</span>
                    </h2>
                    <div class="mining-img" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                        <img src="../../media/mining/11.png" alt="">
                    </div>
                    <div class="mining-description" data-aos="fade-up" data-aos-delay="200" data-aos-offset="100">
                        <h3 class="desktop-header">Название карьера</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит.</p>
                        <a href="/mining-detail.html" class="btn-link btn-link--small">
                            <span>Перейти</span>
                        </a>
                    </div>
                </div>

                <div class="mobile-sort-block">
                    <div class="quantity">30 эксклюзивных карьеров</div>
                    <div class="quantity">1-5 из 30</div>
                    <div class="show">
                        <span>Показывать по</span>
                        <select class="custom-select" name="quantity">
                          <option value="5">5</option>
                          <option value="15">15</option>
                          <option value="30">30</option>
                        </select>
                    </div>
                    <div class="arrows row">
                        <div class="prev disabled">
                            <img src="../../media/small-btn.svg" alt="">
                        </div>
                        <div class="next">
                            <img src="../../media/small-btn.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layouts/base}}
