{{#> layouts/base }}
  {{#*inline "content-block"}}
    {{> includes/header}}
    <div class="main">
      <ul class="mobile-breadcrumbs">
        <li><a href="#">Главная</a></li>
        <li><a href="#">Новости</a></li>
        <li><span>Название новости</span></li>
      </ul>
      <div class="container row">
        {{> includes/breadcrumb}}
        <div class="right-column">
          <div class="parallax-slider">
            <div class="parallax-slider__item">
              <div class="banner-header">
                <p class="timestamp">
                  17 - 07 - 2019
                </p>
                <h1>Название новости</h1>
              </div>
            </div>
          </div>
          <div class="radiant-circle rellax" data-rellax-speed="-10"></div>
        </div>
      </div>
      <div class="container row slider-text__row-container">
        <div class="left-column"></div>
        <div class="right-column">
          <div class="row slider-text">
            <div class="text-area before-slider" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
              <p>
                Использование натурального мрамора станет верным решением, если планируется отделка бассейна,
                расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный
                внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может
                использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.
              </p>
            </div>
            <div class="slider">
              {{> includes/example-slider}}
            </div>
            <div class="text-area after-slider" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">

              <p>
                Мы международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                традициям и используем новейшие технологии добычи и обработки натурального камня.
              </p>
              <p>
                Для наших проектов отбираем лучший камень в эксклюзивных карьерах, осуществляем разработку, отдавая
                предпочтение блокам наивысшего качества для дальнейшей переработки. Важнейшей частью работы является
                проектирование. В настоящее время это обязательное условие при реализации проектов в современной
                архитектуре. Совмещение таких материалов, как камень, стекло, металл и дерево является сложной задачей,
                при том, что мы можем произвести более 20 видов обработки поверхности натурального камня. Все это
                отражается в проектной и рабочей документации наших опытных конструкторов  и инженеров.
                Особо ценными для нас являются сложные и необычные проекты, подразумевающие поиск нестандартных решений
                или разработку уникальных и сложных деталей. Совмещая красоту природного камня со сложными способами
                обработки, создаем изделия, обладающие особым шармом и привлекательностью.
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="container row">
        <div class="news-detail-grid">
          <div class="news-detail-grid__item">
            <img src="../../media/news-detail/1.jpg" alt="">
          </div>
          <div class="news-detail-grid__item">
            <img src="../../media/news-detail/2.jpg" alt="">
          </div>
          <div class="news-detail-grid__item">
            <img src="../../media/news-detail/3.jpg" alt="">
          </div>
          <div class="news-detail-grid__item">
            <img src="../../media/news-detail/4.jpg" alt="">
          </div>
          <div class="news-detail-grid__item">
            <img src="../../media/news-detail/5.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="container row">
        <div class="center-text-quote">
          <p>
            Для наших проектов отбираем лучший камень в эксклюзивных карьерах, осуществляем разработку, отдавая
            предпочтение блокам наивысшего качества для дальнейшей переработки. Важнейшей частью работы является
            проектирование.
          </p>
        </div>
      </div>
    </div>
    <div class="container row">
      <div class="center-texts">
        <p>
          Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в
          закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и
          прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в
          условиях высоких температур, не утрачивая своих превосходных качеств.
        </p>
        <p>
          Мы международная производственная компания выпускающая эксклюзивные изделия из натурального камня, созданные
          нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем традициям и
          используем новейшие технологии добычи и обработки натурального камня.
        </p>
        <p>
          Для наших проектов отбираем лучший камень в эксклюзивных карьерах, осуществляем разработку, отдавая
          предпочтение блокам наивысшего качества для дальнейшей переработки. Важнейшей частью работы является
          проектирование. В настоящее время это обязательное условие при реализации проектов в современной архитектуре.
          Совмещение таких материалов, как камень, стекло, металл и дерево является сложной задачей, при том, что мы
          можем произвести более 20 видов обработки поверхности натурального камня. Все это отражается в проектной и
          рабочей документации наших опытных конструкторов и инженеров.
          Особо ценными для нас являются сложные и необычные проекты, подразумевающие поиск нестандартных решений или
          разработку уникальных и сложных деталей. Совмещая красоту природного камня со сложными способами обработки,
          создаем изделия, обладающие особым шармом и привлекательностью.
        </p>
      </div>
    </div>
  {{/inline}}
{{/layouts/base}}
