{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>Новости и события</span></li>
            </ul>
            <div class="news-container">
                <h1 class="center-header">Новости <br>и события</h1>
                <div class="news-row" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                    <p class="mobile-timestamp timestamp">17 - 07 - 2019</p>
                    <h3 class="mobile-header">Название новости</h3>
                    <div class="news-img">
                        <img src="../../media/news/1.png" alt="">
                    </div>
                    <div class="news-description">
                        <p class="desktop-timestamp timestamp">17 - 07 - 2019</p>
                        <h3 class="desktop-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                </div>
                <div class="news-row" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                    <p class="mobile-timestamp timestamp">12 - 07 - 2019</p>
                    <h3 class="mobile-header">Название новости</h3>
                    <div class="news-description">
                        <p class="desktop-timestamp timestamp">12 - 07 - 2019</p>
                        <h3 class="desktop-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                    <div class="news-img">
                        <img src="../../media/news/2.png" alt="">
                    </div>
                </div>
                <div class="news-row" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                    <p class="mobile-timestamp timestamp">06 - 07 - 2019</p>
                    <h3 class="mobile-header">Название новости</h3>
                    <div class="news-img">
                        <img src="../../media/news/3.png" alt="">
                    </div>
                    <div class="news-description">
                        <p class="desktop-timestamp timestamp">06 - 07 - 2019</p>
                        <h3 class="desktop-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                </div>
                <div class="news-row" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                    <p class="mobile-timestamp timestamp">28 - 06 - 2019</p>
                    <h3 class="mobile-header">Название новости</h3>
                    <div class="news-description">
                        <p class="desktop-timestamp timestamp">28 - 06 - 2019</p>
                        <h3 class="desktop-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                    <div class="news-img">
                        <img src="../../media/news/4.png" alt="">
                    </div>
                </div>
                <div class="news-row" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
                    <p class="mobile-timestamp timestamp">21 - 06 - 2019</p>
                    <h3 class="mobile-header">Название новости</h3>
                    <div class="news-img">
                        <img src="../../media/news/5.png" alt="">
                    </div>
                    <div class="news-description">
                        <p class="desktop-timestamp timestamp">21 - 06 - 2019</p>
                        <h3 class="desktop-header">Название новости</h3>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и
                            долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы
                            натурального камня, как мрамор и гранит.</p>
                    </div>
                </div>

                <div class="bottom-info row">
                    <div class="total">Всего 200 записей</div>
                    <div class="pagination-block row">
                        <div class="items-in-page">1-16 из 52</div>
                        <div class="arrows row hidden-xs">
                            <div class="prev disabled">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                            <div class="next">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mobile-pagination">
                        <div class="show">
                            <span>Показывать по</span>
                            <select class="custom-select" name="quantity">
                              <option value="5">5</option>
                              <option value="15">15</option>
                              <option value="30">30</option>
                            </select>
                        </div>
                        <div class="arrows row">
                            <div class="prev disabled">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                            <div class="next">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
    {{/layouts/base}}
