{{#> layouts/base }}
	{{#*inline "content-block"}}
		{{> includes/header}}
		<div class="main">
			<ul class="mobile-breadcrumbs">
				<li><a href="#">Главная</a></li>
				<li><span>Друзья и партнеры</span></li>
			</ul>

			<div class="partners-container">
				<h1 class="center-header">Друзья <br> и партнеры</h1>
				<div class="partners" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
					<div class="partner">
						<div class="partner__avatar"><img src="../../media/partners/1.png"></div>
						<div class="partner__name">Agron Hotti</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Название компании</div>
						<div class="partner__avatar"><img src="../../media/partners/2.png"></div>
					</div>
					<div class="partner partner--full" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__avatar"><img src="../../media/partners/3.png"></div>
						<div class="partner__name">Agron Hotti</div>
						<div class="partner__info">
							Использование натурального мрамора станет верным решением, если планируется отделка
							бассейна,
							расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой
							безупречный
							внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность.
						</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Имя человека</div>
						<div class="partner__avatar"><img src="../../media/partners/4.png"></div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__avatar"><img src="../../media/partners/5.png"></div>
						<div class="partner__name">Agron Hotti</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Название компании</div>
						<div class="partner__avatar"><img src="../../media/partners/6.png"></div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__avatar"><img src="../../media/partners/7.png"></div>
						<div class="partner__name">Agron Hotti</div>
					</div>
					<div class="partner partner--full" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Название компании</div>
						<div class="partner__avatar"><img src="../../media/partners/8.png"></div>
						<div class="partner__info">
							Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и
							прекрасные
							характеристики, такие как долговечность и высокая прочность.
						</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__avatar"><img src="../../media/partners/9.png"></div>
						<div class="partner__name">Имя человека</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Имя человека</div>
						<div class="partner__avatar"><img src="../../media/partners/10.png"></div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__avatar"><img src="../../media/partners/11.png"></div>
						<div class="partner__name">Имя человека</div>
					</div>
					<div class="partner partner--full" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Agron Hotti</div>
						<div class="partner__avatar"><img src="../../media/partners/12.png"></div>
						<div class="partner__info">
							Использование натурального мрамора станет верным решением, если планируется отделка
							бассейна,
							расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой
							безупречный
							внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность.
						</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__avatar"><img src="../../media/partners/13.png"></div>
						<div class="partner__name">Agron Hotti</div>
					</div>
					<div class="partner" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
						<div class="partner__name">Название компании</div>
						<div class="partner__avatar"><img src="../../media/partners/14.png"></div>
					</div>
				</div>
				<div class="stones-usage-hint" data-aos="fade-up" data-aos-delay="100" data-aos-offset="100">
					Использование натурального мрамора станет верным решением, если планируется отделка бассейна,
					расположенного в
					закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но
					и
					прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже
					в
					условиях
					высоких температур, не утрачивая своих превосходных качеств.
				</div>
			</div>
		</div>
	{{/inline}}

	{{/layouts/base}}
