{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main projects-main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><span>Эксклюзивные карьеры</span></li>
            </ul>
            <div class="container row">
                <div class="left-column"></div>
                <div class="right-column">
                    <h1 class="center-header">
                        <span class="title">Проекты</span>
                    </h1>
                </div>
            </div>

            <div class="center-container center-container--margin">
                <div class="filter-list">
                    <div class="filter-list__name">Тип проекта</div>
                    <div class="filter-list__property active" data-tab="all">Все</div>
                    <div class="filter-list__property" data-tab="brands">Брендовые магазины</div>
                    <div class="filter-list__property" data-tab="restorans">Рестораны</div>
                    <div class="filter-list__property" data-tab="bashni">Башни</div>
                    <div class="filter-list__property" data-tab="business">Бизнес центры</div>
                    <div class="filter-list__property" data-tab="private">Частные виллы</div>
                </div>

                <div class="projects">
                  <a href="#" class="projects__item restorans" data-aos="fade-in" data-aos-offset="0" data-aos-delay="50">
                    <img src="../../media/projects/1.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item restorans bashni" data-aos="fade-in" data-aos-offset="0" data-aos-delay="100">
                    <img src="../../media/projects/2.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item business" data-aos="fade-in" data-aos-offset="0" data-aos-delay="150">
                    <img src="../../media/projects/3.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item private brands" data-aos="fade-in" data-aos-offset="0" data-aos-delay="200">
                    <img src="../../media/projects/4.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item private" data-aos="fade-in" data-aos-offset="0" data-aos-delay="250">
                    <img src="../../media/projects/1.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="300">
                    <img src="../../media/projects/2.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item business" data-aos="fade-in" data-aos-offset="0" data-aos-delay="350">
                    <img src="../../media/projects/3.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="400">
                    <img src="../../media/projects/4.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="450">
                    <img src="../../media/projects/1.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="500">
                    <img src="../../media/projects/2.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="550">
                    <img src="../../media/projects/3.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="600">
                    <img src="../../media/projects/4.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="650">
                    <img src="../../media/projects/1.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="700">
                    <img src="../../media/projects/2.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="750">
                    <img src="../../media/projects/3.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="800">
                    <img src="../../media/projects/4.png" alt="">
                    <div class="projects__name">Фирменный магазин "Bogner"</div>
                  </a>
                </div>

                <div class="bottom-info row">
                    <div class="total">Всего 200 записей</div>
                    <div class="pagination-block row">
                        <div class="items-in-page">1-16 из 52</div>
                        <div class="arrows row hidden-xs">
                            <div class="prev disabled">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                            <div class="next">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mobile-pagination">
                        <div class="show">
                            <span>Показывать по</span>
                            <select class="custom-select" name="quantity">
                              <option value="5">5</option>
                              <option value="15">15</option>
                              <option value="30">30</option>
                            </select>
                        </div>
                        <div class="arrows row">
                            <div class="prev disabled">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                            <div class="next">
                                <img src="../../media/small-btn.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layouts/base}}
