{{#> layouts/base }}
    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main text-main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Решения</a></li>
                <li><span>Натуральный камень</span></li>
            </ul>

            <div class="container row">
                <div class="left-column"></div>
                <div class="right-column">
                    <h2 class="marker" data-aos="gdp-slide-in-h2">
                      <span>Заголовок страницы</span>
                    </h2>

                    <div class="text-container">
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит. Однако допускается применение и других видов натурального камня, которые станут не менее оригинальным решением для облицовки.</p>
                        <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
                        <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
                    </div>

                    <h3 class="marker" data-aos="gdp-slide-in-h3">
                      <span>Подзаголовок</span>
                    </h3>

                    <div class="text-container">
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит. Однако допускается применение и других видов натурального камня, которые станут не менее оригинальным решением для облицовки.</p>
                        <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
                        <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
                        <p>Камень — идеально подходит для облицовки бассейнов в силу своих гидроизоляционных свойств и долговечности. Наиболее широко в облицовке современных бассейнов используются такие породы натурального камня, как мрамор и гранит. Однако допускается применение и других видов натурального камня, которые станут не менее оригинальным решением для облицовки.</p>
                        <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
                        <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
                    </div>
                </div>
            </div>
        </div>
    {{/inline}}
{{/layouts/base}}
