{{#> layouts/base }}

    {{#*inline "content-block"}}
        {{> includes/header}}
        <div class="main">
            <ul class="mobile-breadcrumbs">
                <li><a href="#">Главная</a></li>
                <li><a href="#">Решения</a></li>
                <li><span>Натуральный камень</span></li>
            </ul>

            <div class="container row">
                {{> includes/breadcrumb}}
                <div class="right-column">
                    <div class="parallax-banner">
                        <h1 class="banner-header">Натуральный камень</h1>
                        <img class="zoom-image" src="../../media/stone-banner.jpg" alt="">
                    </div>
                    <div class="radiant-circle rellax" data-rellax-speed="-10"></div>
                </div>
            </div>


            <div class="container row">
                <div class="left-column"></div>
                <div class="right-column">
                    <h2 class="marker" data-aos="gdp-slide-in-h2">
                        <span>Отделка камнем</span>
                    </h2>
                    <div class="row">
                        <div class="text-area" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                            <p>
                                Материал, который послужит отделкой бассейну, должен
                                соответствовать следующим требованиям:
                            </p>
                            <ul>
                                <li>быть устойчивым к воздействию влаги</li>
                                <li>
                                    на его поверхности не должны появляться и развиваться
                                    микроорганизмы и плесень обладать длительными сроками
                                    эксплуатации
                                </li>
                                <li>
                                    не вступать в реакцию с агрессивными средами современных моющих
                                    веществ быть простыми в уходе
                                </li>
                                <li>обладать привлекательным и изысканным внешним видом.</li>
                            </ul>
                        </div>
                        {{> includes/example-slider}}
                    </div>
                    <p class="description" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                        Всем этим качествам соответствует только один вид материалов –
                        натуральный камень. Поэтому сам бассейн и его околобассейнные зоны
                        облицовывают плиткой из натурального камня, реже мозаикой или
                        мозаичным панно из природного камня. Подобрав более подходящий
                        каменьпо цвету, фактуре неординарности природных узоров можно добиться
                        невероятного эффекта, который будет наиболее отчетлив и ярко выражен,
                        когда природный камень будет смочен водой.
                    </p>
                </div>
            </div>

            {{> includes/materials-tabs}}

            {{> includes/finishing-options title="Варианты финишной обработки"}}

            <div class="container">
                <div class="center-container">
                    <h3 data-aos="gdp-without-marker-h3">
                        <span>Проекты с натуральным камнем</span>
                    </h3>
                </div>
                <div class="slick-prev"></div>
                <div class="project-slide" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                    <div class="project-slide__item">
                        <img src="../../media/3d-interior-design.png" alt="" />
                        <div class="point left hidden-xs animate__animated animate__fast">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="point right hidden-xs animate__animated animate__fast">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="point bottom hidden-xs animate__animated animate__fast">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="point top hidden-xs animate__animated animate__fast">
                            <div class="tooltip">
                                <div class="tooltip__header">Название метки</div>
                                <div class="tooltip__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                                <a href="#" class="btn-link">
                                    <span>Камень для стен</span>
                                </a>
                            </div>
                        </div>
                        <div class="project-slide__name">
                            <div class="center-container row">
                                <span>Название проекта</span>
                                <a href="#" class="btn-link btn-link--exception">
                                    <span>Перейти в проект</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="project-slide__item">
                        <img src="../../media/3d-interior-design.png" alt="" />
                    </div>
                </div>
                <div class="slick-next"></div>
                <div class="center-container center-container--margin">
                    <ul class="points-list" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                        <li class="points-list__item" data-id="first-point">Стол из массива дуба</li>
                        <li class="points-list__item" data-id="second-point">Мраморный пол</li>
                        <li class="points-list__item" data-id="third-point">Светильныки Masiero</li>
                        <li class="points-list__item" data-id="fourth-point">Панорамное остекление</li>
                    </ul>
                </div>
                <a href="#" class="btn-link visible-xs">
                    <span>Все проекты</span>
                </a>
            </div>


            {{> includes/textareas}}
            {{> includes/bottom-navigation}}
        </div>
    {{/inline}}

    {{#*inline "modals-block"}}
        <div class="point-modal animate__animated animate__fast" data-id="first-point">
            <div class="point-modal__header row">
                <span>Название</span>
                <div class="close"></div>
            </div>

            <div class="point-modal__body">
                <div class="point-modal__description">Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</div>
                <img src="../../media/content.png" alt="" />
            </div>

            <a href="#" class="btn-link">Подробнее о изделии</a>
        </div>
    {{/inline}}

{{/layouts/base}}
