{{!-- includes/bottom-navigation.hbs --}}

<div class="navigation center-container center-container--margin">
    <a href="#" class="navigation__prev">Панорамные окна и Двери</a>
    <a href="#" class="navigation__current">Решения</a>
    <a href="#" class="navigation__next">Интерьер</a>
</div>

<div class="mobile-navigation">
    <div class="row">
        <a href="#" class="mobile-navigation__item">Панорамные окна и Двери</a>
        <img src="../../media/navigation-block.svg" alt="">
        <a href="#" class="mobile-navigation__item">Интерьер</a>
    </div>
    <div class="row">
        <a href="#" class="mobile-navigation__item">Решения</a>
    </div>
</div>
