{{!-- includes/example-slider.hbs --}}
<div class="example-slider" data-aos="fade-up" data-aos-delay="400" data-aos-offset="100">
    <div class="example-slider__item">
        <img src="../../media/example.jpg" alt="" />
    </div>
    <div class="example-slider__item">
        <img src="../../media/example.jpg" alt="" />
    </div>
    <div class="example-slider__item">
        <img src="../../media/example.jpg" alt="" />
    </div>
    <div class="example-slider__item">
        <img src="../../media/example.jpg" alt="" />
    </div>
</div>
<div class="radiant-example rellax" data-rellax-speed="-10"></div>
