{{!-- includes/finishing-options.hbs --}}
<div class="center-container center-container--margin">
    <h3 data-aos="gdp-without-marker-h3">
        <span>{{title}}</span>
    </h3>
    <div class="options-grid">
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="150">
            <img src="../../media/options-1.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="200">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="250">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="300">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="400">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="450">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="500">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="550">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
        <div class="options-item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="600">
            <img src="../../media/options-2.png" alt="">
            <div class="option-info">
                <div class="option-info__header">
                    <div class="name">Название фотографии</div>
                    <div class="date">19 - 07 - 2019</div>
                </div>
                <div class="option-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
    </div>


    <div class="options-panel" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
        <div class="panel-heading">Проектирование</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="options-panel" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
        <div class="panel-heading">Обработка 3D-станком</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="options-panel" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
        <div class="panel-heading">Стабилизация камня</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="options-panel" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
        <div class="panel-heading">Бучардирование камня</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="options-panel" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
        <div class="panel-heading">Термообработка камня</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>
</div>
