{{!-- includes/footer.hbs --}}
<footer>
    <div class="footer-menu">
        <div class="center-container row">
            <ul class="menu-column">
                <li>
                    <a href="#">О нас</a>
                    <ul class="menu-column__child">
                        <li><a href="#">Технологии</a></li>
                        <li><a href="#">Проектирование и архитектура</a></li>
                        <li><a href="#">Производство</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-column">
                <li>
                    <a href="#">Решения</a>
                    <ul class="menu-column__child">
                        <li><a href="#">Фасады</a></li>
                        <li><a href="#">Панорамные окна и Двери</a></li>
                        <li><a href="/stone-page.html">Натуральный камень</a></li>
                        <li><a href="#">Интерьер</a></li>
                        <li><a href="#">Инженерные решения и проектирование</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-column">
                <li>
                    <a href="/projects.html">Проекты</a>
                </li>
                <li>
                    <a href="/materials.html">Материалы</a>
                </li>
                <li>
                    <a href="#">Технологии</a>
                </li>
                <li>
                    <a href="/mining.html">Эксклюзивные карьеры</a>
                </li>
                <li>
                    <a href="#">Новости и события</a>
                </li>
                <li>
                    <a href="#">Друзья и партнеры</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-coopyright row">
        <div class="center-container row">
            <div class="copyright">
                ©2020 Galleriadipietra.com. All Rights Reserved
            </div>
            <div class="documents">
                <a href="#">Privacy Policy</a>
                <a href="#">Cookie Policy</a>
                <span>P. IVA 09320790968 | C.F. 09424910157</span>
            </div>
        </div>
    </div>
</footer>
