{{!-- includes/header.hbs --}}
<header class="header">
    <div class="header-container row">
        <a class="logo" href="/">
            <img src="../../media/logo.svg" alt="" />
            <img src="../../media/logo-text.svg" alt="" />
        </a>
        <div class="row menu-side">
            <ul class="main-menu">
                <li class="active main-menu__item">
                    <a href="#">Решения</a>
                </li>
                <li class="main-menu__item">
                    <a href="/projects.html">Проекты</a>
                </li>
                <li class="main-menu__item">
                    <a href="/materials.html">Материалы</a>
                </li>
                <li class="main-menu__item">
                    <a href="#">Технологии</a>
                </li>
                <li class="main-menu__item">
                    <a href="/mining.html">Эксклюзивные карьеры</a>
                </li>
                <li class="main-menu__item">
                    <a href="/news.html">Новости и события</a>
                </li>
                <li class="main-menu__item">
                    <a href="/partners.html">Друзья и партнеры</a>
                </li>
            </ul>
            <div class="modal-menu-btn"></div>
        </div>
    </div>
</header>
<div class="modal-menu animate__animated animate__fast">
    <div class="modal-header row">
        <a class="logo hidden-xs">
            <img src="../../media/logo.svg" alt="" />
            <img src="../../media/logo-text.svg" alt="" />
        </a>
        <div class="visible-xs">Меню</div>
        <div class="left-part row">
            <div class="lang row hidden-xs">
                <div class="lang-item">RU</div>
                <div class="lang-item">IT</div>
                <div class="lang-item">ENG</div>
            </div>
            <div class="close"></div>
        </div>
    </div>

    <div class="modal-body">
        <div class="menu-grid">
            <ul class="menu-column">
                <li>
                    <a href="#">О нас</a>
                    <ul class="menu-column__child">
                        <li><a href="#">Технологии</a></li>
                        <li><a href="#">Проектирование и архитектура</a></li>
                        <li><a href="#">Производство</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-column">
                <li>
                    <a href="#">Решения</a>
                    <ul class="menu-column__child">
                        <li><a href="#">Фасады</a></li>
                        <li><a href="#">Панорамные окна и Двери</a></li>
                        <li><a href="/stone-page.html">Натуральный камень</a></li>
                        <li><a href="#">Интерьер</a></li>
                        <li><a href="#">Инженерные решения и проектирование</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="menu-column">
                <li>
                    <a href="/projects.html">Проекты</a>
                </li>
                <li>
                    <a href="/materials.html">Материалы</a>
                </li>
                <li>
                    <a href="#">Технологии</a>
                </li>
            </ul>
            <ul class="menu-column">
                <li>
                    <a href="/mining.html">Эксклюзивные карьеры</a>
                </li>
                <li>
                    <a href="#">Новости и события</a>
                </li>
                <li>
                    <a href="#">Друзья и партнеры</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal-footer visible-xs">
        <div class="lang row">
            <div class="lang-item">RU</div>
            <div class="lang-item">IT</div>
            <div class="lang-item">ENG</div>
        </div>
    </div>
</div>
