{{!-- includes/materials-tabs-elements.hbs --}}

<div class="material-item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="100">
    <img src="../../media/A0021577.png" alt="" />
    <div class="material-item__name row">
        <div class="name">Breccia Capraia</div>
        <div class="article">#500001</div>
    </div>
</div>
<div class="material-item" data-aos="fade-zoom-in" data-aos-delay="150" data-aos-offset="100">
    <img src="../../media/breccia_capraia.png" alt="" />
    <div class="material-item__name row">
        <div class="name">Breccia Capraia</div>
        <div class="article">#500001</div>
    </div>
</div>
<div class="material-item" data-aos="fade-zoom-in" data-aos-delay="200" data-aos-offset="100">
    <img src="../../media/breccia-pernice.png" alt="" />
    <div class="material-item__name row">
        <div class="name">Breccia Capraia</div>
        <div class="article">#500001</div>
    </div>
</div>
<div class="material-item" data-aos="fade-zoom-in" data-aos-delay="250" data-aos-offset="100">
    <img src="../../media/DORATO-VALMALENCO-BOCCIARDATO-BUSH-HAMMERED.png" alt=""/>
    <div class="material-item__name row">
        <div class="name">Breccia Capraia</div>
        <div class="article">#500001</div>
    </div>
</div>
<div class="material-item" data-aos="fade-zoom-in" data-aos-delay="300" data-aos-offset="100">
    <img src="../../media/LUCERNA.png" alt="" />
    <div class="material-item__name row">
        <div class="name">Breccia Capraia</div>
        <div class="article">#500001</div>
    </div>
</div>

<div class="material-item material-item--devices" data-aos="fade-zoom-in" data-aos-delay="300" data-aos-offset="100">
    <img src="../../media/LUCERNA.png" alt="" />
    <div class="material-item__name row">
        <div class="name">Breccia Capraia</div>
        <div class="article">#500001</div>
    </div>
</div>

<div class="material-item--text" data-aos="fade-zoom-in" data-aos-delay="350" data-aos-offset="100">
    <p>
        Одним из основных строительных материалов, является натуральный
        камень. Его можно найти в горах и равнинах Италии и Швейцарии,
        африканских плоскогорьях и других местах. Каждое месторождение
        богато своей историей разработки горных пород. Каждый камень имеет
        право называться лучшим и может являться вашим уникальным выбором.
    </p>

    <a href="#" class="btn-link"><span>Каталог камня</span></a>
</div>
