{{!-- includes/materials-tabs.hbs --}}
<div class="center-container center-container--margin">

    <h3 data-aos="gdp-without-marker-h3">
        <span>Материалы</span>
    </h3>

    <div class="material-tabs">
        <div class="anchor row">
            <div class="anchor-item active" data-tab="luxury-stone">Luxury Stone</div>
            <div class="anchor-item" data-tab="granit">Гранит</div>
            <div class="anchor-item" data-tab="izvesnyak">Известняк</div>
            <div class="anchor-item" data-tab="kvartz">Кварц</div>
            <div class="anchor-item" data-tab="kvartzit">Кварцит</div>
            <div class="anchor-item" data-tab="mramor">Мрамор</div>
            <div class="anchor-item" data-tab="onyx">Оникс</div>
            <div class="anchor-item" data-tab="slanec">Cланец</div>
        </div>

        <div class="material-grid active" data-tab="luxury-stone">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="granit">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="izvesnyak">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="kvartz">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="kvartzit">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="mramor">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="onyx">
            {{> includes/material-tabs-elements}}
        </div>

        <div class="material-grid" data-tab="slanec">
            {{> includes/material-tabs-elements}}
        </div>
    </div>

    <div class="material-mobile">
        <div class="material-mobile__item" data-aos="fade-zoom-in" data-aos-delay="50" data-aos-offset="100">
            <img src="../../media/A0021577.png" alt="" />
        </div>
        <div class="material-mobile__item" data-aos="fade-zoom-in" data-aos-delay="100" data-aos-offset="100">
            <img src="../../media/breccia_capraia.png" alt="" />
        </div>
        <div class="material-mobile__item" data-aos="fade-zoom-in" data-aos-delay="150" data-aos-offset="100">
            <img src="../../media/breccia-pernice.png" alt="" />
        </div>
        <div class="material-mobile__item" data-aos-delay="200" data-aos="fade-zoom-in" data-aos-offset="100">
            <img src="../../media/DORATO-VALMALENCO-BOCCIARDATO-BUSH-HAMMERED.png" alt=""/>
        </div>
        <div class="material-mobile__item" data-aos="fade-zoom-in" data-aos-delay="250" data-aos-offset="100">
            <img src="../../media/LUCERNA.png" alt="" />
        </div>
        <div class="material-mobile__item" data-aos="fade-zoom-in" data-aos-delay="300" data-aos-offset="100">
            <img src="../../media/LUCERNA.png" alt="" />
        </div>
    </div>
    <div class="material-mobile__text">
        <p>
            Одним из основных строительных материалов, является натуральный
            камень. Его можно найти в горах и равнинах Италии и Швейцарии,
            африканских плоскогорьях и других местах. Каждое месторождение
            богато своей историей разработки горных пород. Каждый камень имеет
            право называться лучшим и может являться вашим уникальным выбором.
        </p>

        <a href="#" class="btn-link">
            <span>Каталог камня</span>
        </a>
    </div>

</div>
