{{!-- includes/projects.hbs --}}
<div class="projects">
  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="100">
    <img src="../../media/projects/1.png" alt="">
    <div class="projects__name">Фирменный магазин "Bogner"</div>
  </a>
  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="200">
    <img src="../../media/projects/2.png" alt="">
    <div class="projects__name">Фирменный магазин "Bogner"</div>
  </a>
  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="300">
    <img src="../../media/projects/3.png" alt="">
    <div class="projects__name">Фирменный магазин "Bogner"</div>
  </a>
  <a href="#" class="projects__item" data-aos="fade-in" data-aos-offset="0" data-aos-delay="400">
    <img src="../../media/projects/4.png" alt="">
    <div class="projects__name">Фирменный магазин "Bogner"</div>
  </a>
</div>

<div class="projects-slider visible-xs">
  <a href="#" class="projects-slider__item">
    <img src="../../media/projects/1.png" alt="">
    <div class="projects__name">Фирменный ресторан</div>
  </a>
  <a href="#" class="projects-slider__item">
    <img src="../../media/projects/2.png" alt="">
    <div class="projects__name">Фирменный магазин "Bogner"</div>
  </a>
  <a href="#" class="projects-slider__item">
    <img src="../../media/projects/3.png" alt="">
    <div class="projects__name">Ресторан "Bogner"</div>
  </a>
  <a href="#" class="projects-slider__item">
    <img src="../../media/projects/4.png" alt="">
    <div class="projects__name">Фирменный магазин "Bogner"</div>
  </a>
</div>

<a href="#" class="btn-link btn-link--small">
    <span>Показать еще</span>
</a>
