{{!-- includes/services.hbs --}}

<div class="services-grid">
    <div class="service">
        <div class="service__image">
            <img src="../../media/about/service-1.png" alt="">
            <div class="service-info">
                <div class="service-info__header">
                    <div class="name">Название фотографии</div>
                </div>
                <div class="service-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
    </div>
    <div class="service">
        <div class="service__image">
            <img src="../../media/about/service-2.png" alt="">
            <div class="service-info">
                <div class="service-info__header">
                    <div class="name">Название фотографии</div>
                </div>
                <div class="service-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
    </div>
    <div class="service">
        <div class="service__image">
            <img src="../../media/about/service-3.png" alt="">
            <div class="service-info">
                <div class="service-info__header">
                    <div class="name">Название фотографии</div>
                </div>
                <div class="service-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
    </div>
    <div class="service">
        <div class="service__image">
            <img src="../../media/about/service-4.png" alt="">
            <div class="service-info">
                <div class="service-info__header">
                    <div class="name">Название фотографии</div>
                </div>
                <div class="service-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
    </div>
    <div class="service">
        <div class="service__image">
            <img src="../../media/about/service-5.png" alt="">
            <div class="service-info">
                <div class="service-info__header">
                    <div class="name">Название фотографии</div>
                </div>
                <div class="service-info__description">
                    Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества,
                    следуем традициям и используем новейшие технологии добычи и обработки натурального камня.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="services-panel__center-container center-container">

    <div class="services-panel">
        <div class="panel-heading">Проектирование</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="services-panel">
        <div class="panel-heading">Обработка 3D-станком</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="services-panel">
        <div class="panel-heading">Стабилизация камня</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="services-panel">
        <div class="panel-heading">Бучардирование камня</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>

    <div class="services-panel">
        <div class="panel-heading">Термообработка камня</div>
        <div class="panel-collapse">
            <div class="panel-body">
                <h3>Полировка камня</h3>
                <p>Международная производственная компания выпускающая эксклюзивные изделия из натурального камня,
                    созданные
                    нашими заводами и мастерскими в Италии. Мы придерживаемся высоких стандартов качества, следуем
                    традициям
                    и используем новейшие технологии добычи и обработки натурального камня.</p>
            </div>
        </div>
    </div>
</div>
