{{!-- includes/textareas.hbs --}}

<div class="text-container container row">
    <div class="left-column"></div>
    <div class="right-column">
        <h3 class="marker" data-aos="gdp-slide-in-h2">
            <span>Дополнительная информация 1</span>
        </h3>
        <div class="row text-row">
            <div class="banner-big" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                <img src="../../media/dop-1.png" alt="">
            </div>
            <div class="text-block"  data-aos="fade-up" data-aos-delay="500" data-aos-offset="100">
                <div class="banner-row">
                    <div class="banner-small">
                        <img src="../../media/dop-2.png" alt="">
                    </div>
                    <div class="banner-small">
                        <img src="../../media/dop-3.png" alt="">
                    </div>
                </div>
                <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
            </div>
        </div>
        <div class="extra-slider visible-xs">
            <div class="extra-slider__item">
                <img src="../../media/dop-2.png" alt="" />
            </div>
            <div class="extra-slider__item">
                <img src="../../media/dop-3.png" alt="" />
            </div>
            <div class="extra-slider__item">
                <img src="../../media/dop-2.png" alt="" />
            </div>
            <div class="extra-slider__item">
                <img src="../../media/dop-3.png" alt="" />
            </div>
        </div>
        <div class="radiant-text"></div>
    </div>
</div>


<div class="text-container container row">
    <div class="left-column"></div>
    <div class="right-column">
        <h3 class="marker" data-aos="gdp-slide-in-h2">
            <span>Дополнительная информация 2</span>
        </h3>
        <div class="row text-row">
            <div class="banner-big" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                <img src="../../media/dop-1.png" alt="">
            </div>
            <div class="text-block" data-aos="fade-up" data-aos-delay="500" data-aos-offset="100">
                <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
                <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
            </div>
        </div>
        <div class="radiant-text"></div>
    </div>
</div>

<div class="text-container container row">
    <div class="left-column"></div>
    <div class="right-column">
        <h3 class="marker" data-aos="gdp-slide-in-h2">
            <span>Дополнительная информация 3</span>
        </h3>
        <div class="text-block text-block--long" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
            <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
            <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
        </div>
        <div class="radiant-text radiant-text--light"></div>
    </div>
</div>

<div class="text-container container row">
    <div class="left-column"></div>
    <div class="right-column">
        <h3 class="marker" data-aos="gdp-slide-in-h2">
            <span>Дополнительная информация 4</span>
        </h3>
        <div class="row text-row">
            <div class="text-block" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
                <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
                <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
            </div>
            <div class="banner-big banner-big--reverse" data-aos="fade-up" data-aos-delay="500" data-aos-offset="100">
                <img src="../../media/dop-1.png" alt="">
            </div>
        </div>
        <div class="radiant-text radiant-text--light"></div>
    </div>
</div>

<div class="text-container container row">
    <div class="left-column"></div>
    <div class="right-column">
        <h3 class="marker" data-aos="gdp-slide-in-h2">
            <span>Дополнительная информация 5</span>
        </h3>
        <div class="text-block text-block--column" data-aos="fade-up" data-aos-delay="300" data-aos-offset="100">
            <p>Использование натурального мрамора станет верным решением, если планируется отделка бассейна, расположенного в закрытом помещении. Этот натуральный камень демонстрирует не только свой безупречный внешний вид, но и прекрасные характеристики, такие как долговечность и высокая прочность. Он может использоваться даже в условиях высоких температур, не утрачивая своих превосходных качеств.</p>
            <p>Всем этим качествам соответствует только один вид материалов – натуральный камень. Поэтому сам бассейн и его околобассейнные зоны облицовывают плиткой из натурального камня, реже мозаикой или мозаичным панно из природного камня. Подобрав более подходящий каменьпо цвету, фактуре неординарности природных узоров можно добиться невероятного эффекта, который будет наиболее отчетлив и ярко выражен, когда природный камень будет смочен водой.</p>
        </div>
        <div class="radiant-text radiant-text--light"></div>
    </div>
</div>
